body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  font-size: 13px;
  font-weight:400;
}

a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

header {
  line-height: 60px;

  .navbar-default {
    position: relative;
    margin-bottom: 0;
    background-color: #ffffff;
    border-color: #ffffff;
    border: none;

    .navbar-nav {

      & li a {
        padding: 10.5px 20px;
        color: #486b91;
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        text-align: center;

        i {
          display: block;
        }
      }

      & li:hover a {
        opacity: 0.8;
        background: red;
        transition: all 0.3s ease-in-out;
      }

      & .active a {
        color: #ffffff;
        background-color: #4fb7dd;
      }

      & .active:hover a {
        color: #ffffff;
        background-color: #4fb7dd;
        opacity: 1;
        cursor: default;
      }
    }
  }


}

.top-logo {
  margin: 9px 80px 8px -15px;
  display: inline-block;
}

.offer-and-login-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 342px;
}

.offer {
  display: block;
  float: left;
}

.offer__link {
  padding: 10px 20px;
  display: block;
  line-height: 80px;
  color: #222;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffd21e;
  text-align: center;

  span {
    display: block;
    max-width: 110px;
    margin:0 auto;
    line-height: 20px;
  }
}

.offer__link:hover {
  text-decoration: none;
  color: #222;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.login-block {
  display: block;
  float: right;
}

.login-block__first-element {
  i {
    padding-right: 12px;
    font-size: 14px;
    font-weight: 400;
    color: #486b91;
    border-right: 1px solid #c6c6c6;;
  }
}

.login-block__first-element:hover {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.login-block__second-element {
  margin-left: 7px;
  color: #486b91;
  font-size: 14px;
  font-weight: 400;
}

.presentation-block {
  background: url('../images/presentation-block_bg.jpg') no-repeat center center;

  .container {
    min-height: 400px;
    position: relative;
    padding-top: 90px;
  }
}

.presentation-block__title {
  max-width: 790px;
  margin: 0 auto 15px auto;
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 1.2em;
}

.presentation-block__description {
  max-width: 790px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;

  span {
    color: #ffd21e;
  }
}


.top-form-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  form {
    min-height: 80px;
    padding: 22px;
    background-color: #4fb7dd;
    border-radius: 6px 6px 0 0;
  }

  .two-selects-wrapper {
    display: inline-block;
    width: 32.8767123288%
  }

  .main-input {
    display: inline-block;
    width: 16.4383561644%;
    vertical-align: bottom;

    .jq-selectbox {
      width: 100%;
    }
  }

  .first-input {
    width: 18.2648401826%;

    .jq-selectbox__select {
      border-radius: 4px 0 0 4px;
    }
  }

  .second-input {
    margin-left: -3px;
    width: 37.4429223744%;

    input[name="search-field"] {
      width: 100%;
      padding-left: 12px;
      height: 35px;
      vertical-align: bottom;
      color: #575757;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      border-radius: 0 4px 4px 0;
      border: 1px solid #fff;
      border-left-color: #cecece;
    }
  }

  .third-input {
      width: 49%;
  }

  .fourth-input {
      width: 49%;
  }

  .fifth-input {
    width: 9.77168949772%;

    input[type="submit"] {
      width: 100%;
      height: 35px;
      vertical-align: bottom;
      background-color: #fff;
      background-image: linear-gradient(to top, #ffd21e 0%, #ffd21e 100%);
      border-radius: 4px;
      border: 1px solid #ffd21e;
      color: #333;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;

      &:hover {
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
      }
    }
  }

}





.top-form-wrapper {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

/* Styles for selects*/
.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  top: 16px;
  right: 10px;
  width: 10px;
  height: 7px;
  border: none;
  background: url('../images/select-arrow.png') no-repeat;
}

.jq-selectbox__select {
  height: 35px;
  background: #fff !important;
  border: 1px solid #fff;
  text-shadow: none;
  box-shadow: none;
}

.jq-selectbox__select-text {
  overflow: visible;
  color: #575757;
  font-size: 15px;
  font-weight: 400;
  line-height: 34px;
}

/* Styles for selects*/

.ads-block {
  .container {
    padding-top: 38px;
  }
}

.mini-cards-block__title {
  margin-bottom: 40px;
  color: #222;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.mini-cards-block {
  padding-bottom: 45px;
}

.one-item {
  position: relative;
}

.one-item__like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  display: block;
  z-index: 1;

  &:hover {
      opacity: 0.8;
      transition: all 0.3s ease-in-out;
  }

  i {
    color: #d8d8d8;
    font-size: 16px;
    font-weight: 400;
  }
}

.one-item__like-button.active {
  i {
    color: #4fb7dd;
  }
}

.one-item__image-container {
  position: relative;
  margin-bottom: 20px;
  height: 262.5px;
  background-color: #f2f2f2;
  text-align: center;

  img {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.one-item__title {
  color: #486b91;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.one-item__price {
  color: #222;
  font-size: 18px;
  font-weight: 700;
  line-height: 35px;
}

.one-item__sections-link {
  margin-top: 3px;
  color: #486b91;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  span {
    color: #575757;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.one-item__subway {
  color: #575757;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.one-item__date {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.micro-cards-block {
  padding-bottom: 50px;
}

.one-item_micro {
  margin-bottom: 30px;
}
.one-item__image-container_micro {
  margin-bottom: 10px;
  height: 165px;
}

.one-item__title_micro {
  font-size: 14px;
  line-height: 20px;
}

.change-city-block {
  background-color: #f7f7f7;

  .container {
    position: relative;
    background:  url('../images/change-city-block_bg.png') no-repeat center bottom;
    padding-top: 100px;
    padding-bottom: 85px;
  }
}

.pin-icon {
  position: absolute;
  top: -37.5px;
  left: 50%;
  margin-left: -37.5px;
  width: 75px;
  height: 75px;
  background-color: #5fbcdf;
  background-image: url('../images/pin-icon.png');
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.list-of-cities-column {
  float: left;
  margin-right: 4.38596491228%;
  margin-bottom: 20px;
  width: 177px;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: #486b91;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }

  .city a {
    color: #4fb7dd;
    font-weight: 700;
  }
}

body > footer {
  padding: 20px 0 30px 0;

  .container {
    position: relative;
  }
}

.bottom-menu {
    margin-bottom: 15px;
    margin-right: 140px;
}

.bottom-menu__item {
  display: inline-block;
  margin-right: 25px;

  a {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.copyright {
  span {
    color: #969696;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
  }
}

.breadcrumb-block {
  background-color: #f6f6f6;
}

.breadcrumb {
  margin-bottom: 0;
  padding: 13.5px 0;
  color: #486b91;
  font-weight: 400;
}

#product-card-page {
  .container {
    padding-top: 26px;
  }

  h2 {
    margin-bottom: 28px;
    color: #222;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
  }

  .same-ads {
    h2 {
      margin-bottom: 40px;
    }
  }
}

.products-photos {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #ccc;
}

.product-meta {
}

.location {
  display: block;
  margin-bottom: 7px;
  color: #486b91;
}

.date-and-number {
  color: #575757;
}

.big-photo {
  position: relative;
  text-align: center;

  a {
    position: relative;
    display: inline-block;
    width: 550px;
    height: 540px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      height: auto;
    }
  }
}

.small-photos {
}

.small-photo {
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #ccc;

  img {
    max-width: 100%;
    height: auto;
  }
}

.small-photo.active {
  border-color: transparent;
}

.product-information {
  padding-bottom: 30px;
}

.product-information-price {
  margin-bottom: 27px;
  height: 46px;
  line-height: 46px;
}

.product-information__tag {
  display: inline-block;
  width: 75px;
  margin-right: 58px;
  font-size: 15px;
  color: #333;
  vertical-align: top;
}

.product-information-price__value {
  margin-left: 12px;
  position: relative;
  padding: 11.5px 19px;
  display: inline-block;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #53c72b;
  border-radius: 0 3px 3px 0;

  &:before {
    position: absolute;
    right: 100%;
    top: 0;
    content: "";
    display: table;
    width: 0;
  	height: 0;
  	border-top: 23px solid transparent;
  	border-right: 12px solid #53c72b;
  	border-bottom: 23px solid transparent;
  }

  span {
    font-size: 15px;
  }
}

.product-information-seller {
  padding-bottom: 26px;
}

.product-information-seller-info {
  display: inline-block;

  &>span, &>a {
    display: block;
  }
}

.product-information-seller-info__name {
  margin-bottom: 7px;
  color: #022222;
  font-size: 15px;
  font-weight: 700;
}

.product-information-seller-info__duration {
  margin-bottom: 7px;
  color: #575757;
}

.product-information-seller-info__other-ads {
  margin-bottom: 14px;
  color: #486b91;
}

.product-information-seller-info__show-phone {
  margin-bottom: 10px;
  padding: 5.5px 15px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: #486b91;
  border-radius: 3px;

  i {
    margin-right: 6px;
  }

  &:hover {
    opacity: 0.8;
    color: white;
    transition: all 0.3s ease-in-out;
  }
}

.product-information-seller-info__write-seller {
  padding: 5.5px 15px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: #486b91;
  border-radius: 3px;

  i {
    margin-right: 6px;
    font-size: 15px;
  }

  &:hover {
    opacity: 0.8;
    color: white;
    transition: all 0.3s ease-in-out;
  }
}

.product-information-city {
  margin-bottom: 18px;
}

.product-information-city__name {
  color: #486b91;
  font-size: 15px;
}

.product-information-cond {
  margin-bottom: 18px;
}

.product-information-cond__value {
  font-size: 15px;
  color: #333;
}

.product-information-brand__name {
  font-size: 15px;
  color: #333;
}

.product-information-actions {
  padding-top: 22px;
  border-top: 1px solid #ccc;
}

.product-information-actions__link {
  display: block;
  color: #486b91;
  font-weight: 400;
  line-height: 28px;
  font-size: 14px;

  i {
    margin-right: 6px;
  }
}

.product-description {
  padding-top: 24px;
  padding-bottom: 33px;
  border-top: 1px solid #ccc;
}

.product-description-one-block {
  margin-bottom: 5px;

  &> h4 {
  color: #222;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  }

  &> div {
    color: #022222;
    font-size: 13px;
    font-weight: 700;
    line-height: 34px;
  }

  li {
    color: #575757;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
  }
}

.same-ads-block {
  .one-item__like-button {
    z-index: 1;
  }
}

#selection-of-goods-page {
  .container {
    padding-top: 30px;
  }
}

.catalog-list-title {
  margin-bottom: 26px;
  color: #222;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-list-control {
  position: relative;
  margin-bottom: 15px;
  line-height: 23px;
}

.list-control-sort {

}

.list-control-sort__text {
  margin-right: 4px;
  color: #575757;
}

.list-control-sort__toggle {
  color: #486b91;

  i {
    margin-left: 8px;
  }

  .fa-caret-up {
    display: inline-block;
  }
  .fa-caret-down {
    display: none;
  }

  &.active {
    .fa-caret-up {
      display: none;
    }
    .fa-caret-down {
      display: inline-block;
    }
  }
}

.list-control-view-mode {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  vertical-align: middle;
}

.list-control-view-mode__block,
.list-control-view-mode__list {
  position: relative;
  display: inline-block;
  width:24px;
  height: 22px;
  color: #d8d8d8;
  border: 1px solid transparent;

  &.active {
   color: #486b91;
   border: 1px solid #486b91;
  }

  &.active:hover {
    cursor: default;
  }
}

.list-control-view-mode__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.filter-form {
  padding: 30px 20px;
  background-color: #4fb7dd;
  border-radius: 6px;
  color: #fff;

  .main-input {
    margin-bottom: 8px;
  }

  .jq-selectbox__select-text {
    font-size: 13px;
  }
}

.filter-form-title {
  padding-bottom: 23px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 1px solid #a6dbee;
}

.checkboxes {
  padding-top: 13px;
}
.checkboxes-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.checkboxes {
  .checkbox {
    margin-bottom: 14px;
  }
}

.checkbox {
  .jq-checkbox {
    width: 14px;
    height: 14px;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: none;
    border-color: #f7f7f7;
  }
    label {
      padding-left: 0;
      min-height: 0;
    }
  }

  .jq-checkbox.checked {
    .jq-checkbox__div {
      margin: 2px auto;
      width: 10px;
      height: 8px;
      background: url('../images/checkbox-icon.png') no-repeat;
      box-shadow: none;
    }
  }

.filter-input__label {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

.filter-input__select {
  display: block !important;
  margin-top: 3px;
}

.show-only {
  padding-top: 6px;
}

.show-only__title {
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}

/*range-filter styles*/
.range-filter{
  padding-top:10px;

}

.range-filter__title {
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
}


.range-controls{
  margin-top:14px;
  position:relative;
  height:25px;
  overflow:hidden;
}
.scale{
  margin-top:10.5px;
  height:4px;
  border-radius: 2px;
  background:#fff;
}
.bar{
  margin-left: 46px;
  height:4px;
  background-color: #ffd21e;
}
.toggle{
  position:absolute;
  top:0px;
  width:25px;
  height:25px;
  background-color: black;
  background-image: linear-gradient(to top, #d6d6d6 0%, #d6d6d6 0%, whitesmoke 99%, whitesmoke 100%);
  box-shadow: inset 0 0 5px rgba(252, 253, 253, 0.75);
  cursor:pointer;
  border-radius:50%;
}
.min-toggle{
  left:21px;
}
.max-toggle{
  right:0;
}

.price-controls {
  input[type="text"] {
    padding-left: 6px;
    height: 27px;
    border:none;
    background-color: #f7f7f7;
    border-radius: 3px;
    color: #575757;
    line-height: 27px;
  }
  .min-price{
    margin-right:6px;
    width: 76px;
  }

  .max-price{
    margin-left: 6px;
    margin-right: 7px;
    width: 86px;
  }
}
/*range-filter styles*/

.catalog-list-items {
  position: relative;
  padding-top: 20px;
  border-top: 1px solid #ccc;

  .one-item {
    margin-bottom: 20px;
  }

  .one-item__image-container_micro {
    position: absolute;
    top: 0;
    left: 0;
    width: 165px;
  }

  .one-item__information {
    margin-left: 195px;
  }

  .one-item__title {
    display: block;
    margin-bottom: 5px;
    color: #486b91;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    &.active {

    }
  }

  .one-item.active {
    .one-item__title {
      color: #4fb7dd;
    }
  }

  .one-item__description {
    color: #575757;
    line-height: 19px;
  }

  .one-item__date {
    font-size: 12px;
  }
}

.banner-item__link {
  display: block;

  img {
    max-width: 100%;
  }
}

.load-more {
  padding-top: 30px;
  color: #486b91;
  font-size: 14px;
  font-weight: 400;
  border-top: 1px solid #ccc;
}

.load-more__link {
  i {
    margin-right: 13px;
    font-size: 18px;
  }
}

.catalog-list-pagination {
  .catalog-list-pagination__item {
    a {
      padding: 5.5px 11px;
      border: 1px solid transparent;
      border-radius: 3px;
    }
  }

  .active {
    a {
      border: 1px solid #ccc;
      background: #fff;
      color: #486b91;
    }
  }
}

.subcategories-block {
  background: #f9f9f9;
  padding-top: 55px;
  padding-bottom: 55px;
}

.subcategories-wrapper {

}

.subcategory-column-wrapper {
  float: left;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.subcategory-column {
  position: relative;
  padding-left: 40px;
}

.subcategory-column__title {
  display: block;
  margin-bottom: 5px;
  color: #4fb7dd;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  cursor: pointer;

  &:hover {
    color: #4fb7dd;
    opacity: 0.8;
  }
}

.subcategory-column__icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 27px;
  height: 27px;
  background-color: #4fb7dd;
  border-radius: 50%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.subcategory-list {

}

.subcategory-list__item {
  color: #486b91;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;

  &.expand-list {
    font-weight: 700;
    line-height: 26px;
  }
}

.social-block {
  position: absolute;
  top: 0;
  right: 0;

  a {
    margin-left: 5px;
    display: inline-block;
    height: 18px;
    width: 23px;
    background: url('../images/social-icons-sprite.png') no-repeat 0 -30px;
  }

  .vk {
    margin-left: 0;
    &:hover {
      background-position: 0 0;
    }
  }

  .fb {
    background-position: -31px -30px;
    &:hover {
      background-position: -31px 0;
    }
  }

  .tw {
    background-position: -63px -30px;
    &:hover {
      background-position: -63px 0;
    }
  }

  .yt {
    margin-left: 10px;
    background-position: -101px -30px;
    &:hover {
      background-position: -101px 0;
    }
  }
}

#publish-ad {
  .container {
    padding-top: 26px;
  }

  h2 {
    margin-bottom: 28px;
    color: #222;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
  }
}

.publish-ad-form {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #ccc;
}

.publish-ad-one-item {
  margin-bottom: 10px;

  &> div {
    float: left;
  }

  .left-column   {
    width: 29.4666666667%;
  }

  .right-column   {
    width:70.5333333333%;
  }
}

.correct-message {
  position: absolute;
  left: 103%;
  top: 7px;
  color: #59c64e;
  font-size: 22px;
  font-weight: 400;
}

.error-message {
  position: absolute;
  left: 103%;
  top: 1px;
  width: 333px;
  color: #ff0303;
  font-size: 22px;
  font-weight: 400;

  i {
    margin-right: 5px;
  }
}

.error-message__text {
  display: inline-block;
  position: relative;
  padding-left: 15px;
  width: 270px;
  min-height: 37px;
  background-color: #ff0303;
  border-radius: 3px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 37px;


  &:before {
    position: absolute;
    top: 9px;
    right: 100%;
    content: "";
    display: table;
    width: 0;
  	height: 0;
  	border-top: 8px solid transparent;
  	border-right: 8px solid red;
  	border-bottom: 8px solid transparent;
  }
}

.last-form-row {
  opacity: 0;
}

.publish-ad-form-label {
  color: #333;
  font-size: 15px;

  sup {
    color: #ff0303;
    font-size: 13px;
  }

  span {
    display: block;
    margin-top: 10px;
    max-width: 150px;
    color: #575757;
    font-size: 13px;
    line-height: 18px;
  }
}

.publish-input__select {
  width: 100%;
  min-width: 202px;

  .jq-selectbox__select {
    border: 1px solid #e1e1e1;
  }
}

.publish-input {
  position: relative;


  input[type="text"] {
    min-width: 202px;
    width: 100%;
    padding-left: 10px;
    line-height: 31px;
    background-color: white;
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
  }

  &.half-input {
    width: 46%;
  }

  &> input[name="ad-title"] {
    width: 100%;
  }

  textarea {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 16px;
    padding-left: 10px;
    width: 100%;
    height: 150px;
    resize: none;
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
  }

  .jq-radio {
    margin-right: 13px;
    position: relative;
    width: 19px;
    height: 19px;
    background: white;
    border: 1px solid #e1e1e1;
  }

  .jq-radio.checked {
    .jq-radio__div {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -3.5px;
      margin-top: -3.5px;
      width: 7px;
      height: 7px;
      background-color: #4fb7dd;
      box-shadow: none;
    }
  }

  .fa-rub {
    color: #acacac;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
  }

  .jq-checkbox {
    margin-left: 23px;
    background: #fff;
    box-shadow: none;
    border: 1px solid #d6d6d6;
  }

  input[name="price-value"] {
    min-width: 0;
    width: 125px;
    margin-right: 6px;
  }
}

.price-inputs-wrapper {
  margin-bottom: 13px;
}

.upload-photo {
  margin-bottom: 20px;
  width: 145px;
  height: 107px;
  background: #fff url('../images/upload-photo-bg.png') no-repeat 48px 35px;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  .price-add-photo {
    display: block !important;
    width: 145px !important;
    height: 107px !important;
    opacity: 0 !important;
    overflow: hidden !important;
  }
}

.last-form-row {
  content: "";
}

.agreement-block {
  position: relative;

  .jq-checkbox {
    position: absolute !important;
    top: 0;
    left: 0;
    margin: 0;
  }

  .agreement-text {
    margin-left: 25px;
    color: #575757;
    line-height: 20px;

    a {
      color: #486b91;

      &:hover {
        text-decoration: underline;
      }
    }


  }

  sup {
    color: #ff0303;
    font-size: 13px;
  }
}

.publish-buttons {
  margin-bottom: 80px;
  padding-top: 30px;
  border-top: 1px solid #ccc;

  &__layout {
    float: right;
  }

  &__preview {
    display: inline-block;
    padding: 12px 31px 15px;
    color: #666;
    font-size: 18px;
    font-weight: 400;
    background-color: #f1f1f1;
    border-radius: 3px;
  }

  &__to-publish {
    display: inline-block;
    margin-left: 16px;
    padding: 9px 27px 13px;
    background-color: #486b91;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    &:hover {
      color: #fff;
      opacity: 0.8;
      transition: all 0.3s ease-in-out;
    }
  }
}

#registration {
  .container {
    padding-top: 26px;
  }

  h2 {
    margin-bottom: 28px;
    color: #222;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
  }
}

.single-form-layout {
  padding-bottom: 80px;
}

.registration-form {
  margin: 0 auto;
  padding: 37px 31px 31px;
  max-width: 360px;
  border-top: none;
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;

  .publish-ad-one-item {
    margin-bottom: 12px;
  }

  .registration-input {
    float: none;
    position: relative;
  }

  input[type="text"] {
    width: 100%;
  }

  .publish-ad-form-label {
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
  }
}

.phone-number-block {
  position: relative;

  &:hover {
    cursor: pointer;

    .phone-number-block__popup {
      display: block;
      transition: all 0.3s ease-in-out;
    }
  }

}

.phone-number-block__tip {
  &>span {
    position: absolute;
    right: 10px;
    bottom: 9px;
    display: block;
    color: #4fb7dd;
    font-size: 16px;
    font-weight: 400;
  }
}

.phone-number-block__popup {
  display: none;
  position: absolute;
  width: 316px;
  left: 88%;
  bottom: 124%;
  padding: 14px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.21);
  color: #575757;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  z-index: 10;

  &:after {
    position: absolute;
    top: 100%;
    content: "";
    display: table;
    width: 0;
  	height: 0;
  	border-left: 7px solid transparent;
  	border-right: 7px solid transparent;
  	border-top: 8px solid white;
  }
}

.registration-input {
  .registration-input__captcha {
    width: 112px !important;
    margin-right: 8px;
  }

  .registration-input__captcha-img {
    display: inline-block;
    margin-right: 14px;
    height: 35px;
    vertical-align: bottom;
  }

  .jq-checkbox {
    position: absolute !important;
    top: 0;
    left: 0;
  }

  .agreement-text {
    color: #575757;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
   }
}

.registration-input__link {
  display: inline-block;
  vertical-align: middle;

  i {
    color: #486b91;
    font-size: 27px;
    font-weight: 400;
  }
}

.registration-input__button {
  margin-top: 10px;
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  background-color: #486b91;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 43px;
  border: none;

  &:hover {
    background: #4fb7dd;
    transition: all 0.3s ease-in-out;
  }
}

.registraion-form__text-block {
  line-height: 18px;
  color: #575757;
  padding-bottom: 26px;

  a {
    color: #486b91;

    &:hover {
      text-decoration: underline;
    }
  }
}

.registration-form__social-block {
  position: relative;
  border-top: 1px solid #e1e1e1;
  text-align: center;
}

.social-elemens {

}

.social-elements__text {
  display: inline-block;
  margin-top: -9px;
  padding: 0 12px;
  background-color: #f2f2f2;
}

.social-elements__links {
  margin-top: 19px;
}

.social-elements__link {
  margin: 0 2px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('../images/social-elements-sprite.png') no-repeat;
  border-radius: 50%;

  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
  }

  &.vk {
    background-position: 0 0;
  }

  &.ok {
    background-position: -39px 0;
  }

  &.fb {
    background-position: -78px 0;
  }

  &.gp {
    background-position: -117px 0;
  }

  &.tw {
    background-position: -156 0;
  }
}

.single-block-layout__text {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.single-block-layout__link {
  color: #486b91;

  &:hover {
    color: #4fb7dd;
  }
}

.log-in-block {
  width: 100%;
  margin-top: 8px;

  .jq-checkbox {
    margin-left: 0;
    margin-right: 5px;
  }

  a {
    float: right;
    color: #486b91;

    &:hover {
      color: #4fb7dd;
    }
  }
}










/**** M E D I A ****/  /**** M E D I A ****/  /**** M E D I A ****/
/**** M E D I A ****/  /**** M E D I A ****/  /**** M E D I A ****/
/**** M E D I A ****/  /**** M E D I A ****/  /**** M E D I A ****/
/**** M E D I A ****/  /**** M E D I A ****/  /**** M E D I A ****/
/**** M E D I A ****/  /**** M E D I A ****/  /**** M E D I A ****/

@media (max-width: 1200px) {
  .top-logo {
    margin: 8px 22px 8px -15px;
  }

  body > header {
    min-height: 0;
    line-height: 60px;

    .navbar-default .navbar-nav li a {
      padding: 10.5px 18px;
      font-size: 15px;
    }
  }

  .offer-and-login-block {margin-left: -4px;
    .offer__link {
      padding: 10px 17px;
      font-size: 15px;
    }
  }
  .product-information__tag {
    margin-right: 24px;
  }

  .checkbox {
    label {
      font-size: 12px;
    }
  }

  .price-controls {

    input[type=text] {
      padding-left: 4px;
    }

    .min-price {
      width: 48px;
      font-size: 10px;
    }

    .max-price {
      padding-left: 3px;
      font-size: 10px;
      width: 65px;
    }
  }
} // @media (max-width: 1200px)

@media (max-width: 992px) {
  .offer-and-login-block {
    width: auto;
  }

  .offer {
    float: none;

    .offer__link {
      padding: 6px 10px;
      font-size: 14px;
    }
    span {
      max-width: none;
    }
  }

  .login-block {
    float: none;
    line-height: 28px;
  }

  .presentation-block {
    background-size: cover;
    .container {
      min-height: 500px;
    }
  }

  .presentation-block__title {
    font-size: 37px;
  }

  .top-form-block {
    .two-selects-wrapper {
      display: block;
      width: auto;
    }

    .jq-selectbox {
      width: 50%;
      margin-bottom: 20px;
    }

    input[type="text"] {
      width: 49.9%;
      margin-bottom: 20px;
    }

    .first-input {
      width: 39.98%;
    }

    .second-input {
      width: 59.88%;

    }

    .third-input {
        width: 49.65%;
    }

    .fourth-input {
        width: 49.65%;
    }

    .fifth-input {
      width: 34%;
    }
  }

  .product-information-price__value,
  .product-information-seller-info,
  .product-information-city__name,
  .product-information-cond__value,
  .product-information-brand__name {
    display: block;
    float: right;
  }

  .product-information__tag {
    margin-right: 10px;
  }

  .product-information-price__value {
    padding: 11.5px 5px;
  }

  .product-information-seller-info {
    margin-top: 13px;
  }

  .banner-item {
    margin-bottom: 40px;
  }

  .subcategory-column-wrapper {
    width: 33.33333333%;
    min-height: 233px;
    padding-bottom: 20px;
  }

  .social-block {
    right: 15px;
  }

  .phone-number-block__popup {
    left: 40%;
    width: 200px;
    padding: 10px;
    font-size: 12px;
    line-height: 16px;

    &:after {
      right: 30px;
    }

  }

  .top-logo {
    margin-right: 5px;
  }

  body>header .navbar-default .navbar-nav li a {
    padding: 10.5px 13px;
  }

  .error-message {
    margin-top: -16px;
  }

  .error-message__text {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    line-height: 20px;

    &:before {
      top: 20px;
    }
  }


} // @media (max-width: 992px)

@media (max-width: 768px) {
  .top-logo {
    margin-left: 0;
  }

  .offer-and-login-block {
    position: relative;
    display: block;
    margin: 0 -15px;
  }

  .offer {
    line-height: 60px;

    a {
      padding: 20px 10px;
    }
  }

  .login-block {
    text-align: center;
    line-height: 60px;
  }

  .navbar-toggle {
    margin-top: 12px;
  }

  .presentation-block {
    &__title {
      font-size: 25px;
      max-width: 435px;
    }

    &__description {
      font-size: 22px;
    }
  }

  .offer {
    .offer__link {
      padding: 20px 10px;
    }
  }

  #product-card-page {
    h2 {
      line-height: 1.2em;
    }
  }

  .filter-form {
    margin: 0 auto 30px auto;
    max-width: 340px;
  }

  .price-controls {

    input[type=text] {
      padding-left: 6px;
    }

    .min-price {
      width: 70px;
      font-size: 13px;
    }

    .max-price {
      font-size: 13px;
      width: 80px;
    }
  }

  .banner-item {
    max-width: 262px;
    margin: 0 auto 40px;
  }

  .subcategory-column-wrapper {
    width: 50%;
    min-height: 233px;
    padding-bottom: 20px;
  }

  .product-information-seller-info {
    margin-top: 0;
  }
} // @media (max-width: 768px

@media (max-width: 600px) {

  .presentation-block {
    .container {
      min-height: 580px;
    }

    &__description {
      line-height: 30px;
    }
  }
  .top-form-block {
    .jq-selectbox {
      width: 100%;
      margin-bottom: 20px;
    }

    input[type="text"] {
      width: 100%;
      margin-bottom: 20px;
    }

    .first-input {
      width: 100%;

      .jq-selectbox__select {
        border-radius: 4px;
      }
    }

    .second-input {
      width: 100%;
      margin-left:0;

      input[name="search-field"] {
        border-radius: 4px;
      }
    }

    .third-input {
        width: 100%;
    }

    .fourth-input {
        width: 100%;
    }

    .fifth-input {
      width: 100%;
    }
  }

  .mini-cards-block  {
    max-width: 305px;
    margin: 0 auto;

     & > div {
      float: none;
      margin-bottom: 30px;
      width: auto;
    }
  }

  .micro-cards-block  {
    max-width: 200px;
    margin: 0 auto;

     & > div {
      float: none;
      margin-bottom: 30px;
      width: auto;
    }
  }

  .list-of-cities-block {
    max-width: 371px;
    margin: 0 auto;
  }

  .list-of-cities-column {
    &:nth-child(even) {
      margin-right: 0;
    }
  }

  .date-and-number {
    &> span {
      display: block;
      line-height: 1.5em;
    }
  }

  .big-photo {
    a {
      display: block;
    }
  }

  .small-photo {
    margin-bottom: 10px;
  }

  .subcategory-column-wrapper {
    float: none;
    width: auto;
    min-height: 0;
    padding-bottom: 20px;

    .subcategory-column {
      max-width: 250px;
      margin: 0 auto;
    }
  }

  .publish-ad-one-item>div {
    float: none;
  }

  .publish-ad-one-item .left-column {
    width: auto;
  }

  .publish-ad-form-label {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .publish-ad-one-item .right-column {
    width: auto;
  }

  .publish-buttons__to-publish {
    display: block;
    margin-left: 0;
  }

  .publish-buttons__preview {
    display: block;
    margin-bottom: 15px;
  }

} // @media (max-width: 600px)

@media (max-width: 400px) {

  .mini-cards-block__title {
    max-width: 305px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 40px auto;
    line-height: 1.2em;
  }

  .list-of-cities-column {
    float: none;
    margin: 0 auto 20px auto;

    &:nth-child(even) {
      margin-right: auto;
    }

    &:last-child {
      margin-right: auto;
    }
  }

  .bottom-menu {
    max-width: 140px;
    margin: 0 auto 15px auto;
  }
  .bottom-menu__item {
    display: block;
    margin-right: 0;
  }

  .copyright {
    max-width: 205px;
    margin: 0 auto;
  }

  .top-form-block {
    .jq-selectbox {
      margin-bottom: 15px;
    }
  }

  .product-information__tag {
    margin-right: 0;
  }

  .product-information-price__value {
    font-size: 20px;
  }

  .product-information-seller-info__show-phone, .product-information-seller-info__write-seller {
    padding: 4.5px 13px;
    font-size: 14px;
  }

  .product-information-actions {
    padding-bottom: 20px;
  }

  .log-in-block {
    a {
      float: none;
      display: block;
      margin-top: 5px;
      margin-left: 24px;
    }
  }

  .registration-input {
    .registration-input__captcha {
      width: 100% !important;
      margin-bottom: 10px;
    }
  }

  .social-block {
    position: relative;
    max-width: 121px;
    margin: 0 auto 15px;;
  }

  .publish-input input[name="price-value"] {
    width: 76px;
  }

}  // @media (max-width: 400px)
